PROJECT_NAME="RECEPCION ERP"
SECRET_KEY="admin"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=120

# Configuración de MariaDB
DB_USER="username"
DB_PASSWORD= "YOUR PASSWORD" #Quitar las comillas
DB_HOST= "your host" #Quitar las comillas
DB_PORT= 3306
DB_NAME= "YOUR DATABASE NAME" #Quitar las comillas
